body {
  background-color: $yellow;
  color: $black;
  font-family: $font-family-base;
  padding: 18vh 1rem;
  text-align: center;
}
a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
.middleman-logo {
  width: 12rem;
}
