---
title: Page not found
description: This page was not found by Middleman webpack 🤔
keywords: page, not, found
---

<%= svg_tag "logo.svg", class: "middleman-logo" %>

<h1>Page not found</h1>

<%= link_to "Back to homepage", "./" %>
