<% set_meta_tags title: data.site.name + ": " + data.site.description,
                 full_title: false %>

<%= svg_tag "logo.svg", class: "middleman-logo" %>

<h1>Middleman webpack is running</h1>

<%= link_to(
  "About this template",
  "https://gabrielecanepa.github.io/middleman-webpack/docs",
  target: "_blank"
) %>

<br><br>

<%= link_to(
  "Read Middleman documentation",
  "https://middlemanapp.com/basics/install",
  target: "_blank"
) %>
